<<<<<<< HEAD
h1 {color: blue; font-size: 30px;}
h3 {color: rgba(139, 98, 20, 0.295); font-size: 16px;}
=======
h1 {color:rgb(15, 97, 117) ; font-size: 30px;}
h3 {color: rgb(24, 55, 194); font-size: 16px;}
>>>>>>> 524c3af8ba24835e22e2088f28b104af78278df4
